<a href="https://colab.research.google.com/github/Rahul-554/Rahul_AIML/blob/main/p1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#using range() function in for loop
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(10):
  print(i,end='')

0123456789

In [4]:
n=int(input("Enter the number"))
for i in range(1,11):
  c=n*i
  print(n,"*",i,"=",c)

Enter the number10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [9]:
#program to print even number using step size in range()
n=int(input("Enter the number"))
sum=0
for i in range(2,n,2):
  print(i)
  sum=sum+i
  print("the sum is ", sum)

Enter the number10
2
the sum is  2
4
the sum is  6
6
the sum is  12
8
the sum is  20

In [17]:
#using len() function
list=['SUbhrakanta','Sambidhan','Ratan','Rahul','Rajesh']
for i in range(len(list)):
  print("Hey Bro", list[i])

Hey Bro SUbhrakanta
Hey Bro Sambidhan
Hey Bro Ratan
Hey Bro Rahul
Hey Bro Rajesh

In [16]:
#nested for loop
for i in range(5):
  for j in range(5):
    print(i+1,end=' ')
  print('')

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [18]:
rows=int(input("Enter the rows "))
for i in range(0,rows+1):
  for j in range(i):
    print("*",end='')
  print()

Enter the rows 6

*
**
***
****
*****
******

In [19]:
rows=int(input("Enter the rows "))
for i in range(0,rows+1):
  for j in range(i):
    print(i,end='')
  print()

Enter the rows 7

1
22
333
4444
55555
666666
7777777

In [28]:
#using while loop 

s=1234
i=0
while s != 0:
  digit = s % 10
  i = i * 10 + digit
  s //= 10
print("reversed number: "+str(i))

reversed number: 4321

In [30]:
#break statement
i=1
while i<=10:
  print(i)
  if i==s:
    break
  i=i+1

1
2
3
4
5
6
7
8
9
10