<a href="https://colab.research.google.com/github/Rahul-554/Rahul_AIML/blob/main/py3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
for var in "ABIT":
  if var=="B":
    continue
  print(var)

A
I
T

In [5]:
for i in range(10):
  print(i)
  if i==2:
    break

0
1
2

In [6]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [8]:
li=['a','b','c','d']
for i in li:
  if(i=='a'):
    pass
  else:
    print(i)

b
c
d

In [14]:
n = int(input("value: "))
if 10 % 2 == 0:
    current_num = 10
else:
    current_num = 11
while current_num <= n:
    print(current_num)
    current_num += 2

value: 50
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [15]:
def SHOW():
  print("HELLO PYTHON")
SHOW()

HELLO PYTHON

In [16]:
def sum(a,b):
  print('a+b= ',(a+b))
sum(22,55)

a+b=  77

In [17]:
def sum(a,b):
  print('a+b= ',(a+b))
x=int(input("value of x: "))
y=int(input("value of y: "))
sum(x,y)

value of x: 5
value of y: 6
a+b=  11

In [18]:
#write a python program using function and take input from keyboard of a number to reverse it and count number of odd and evens
def reverse_and_count(num):
    even_count = 0
    odd_count = 0
    reverse_num = 0
    while num > 0:
        digit = num % 10
        reverse_num = (reverse_num * 10) + digit
        num = num // 10
        if digit % 2 == 0:
            even_count += 1
        else:
            odd_count += 1
    return reverse_num, odd_count, even_count

num = int(input("Enter a number: "))
reverse_num, odd_count, even_count = reverse_and_count(num)
print("Reverse of the number:", reverse_num)
print("Number of odd digits:", odd_count)
print("Number of even digits:", even_count)

Enter a number: 432
Reverse of the number: 234
Number of odd digits: 1
Number of even digits: 2